<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>C.R.E.A.M. | {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.3/motion-ui.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation-prototype.min.css">
        <link href='https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
        {% block extra_css %}{% endblock %}
    </head>
    <body>
        <div class="top-bar">
            <div class="top-bar-left">
                <ul class="menu">
                    <li class="menu-text">
                        <a href="{% url 'index' %}">Cash rules everything around me</a>
                    </li>
                </ul>
            </div>
        </div>

        <article class="grid-container">
            <div class="grid-x grid-padding-y grid-margin-x" id="content">
                <div class="cell">
                    {% block content %}
                    <div class="blog-post">
                        <h3>Awesome blog post title <small>3/6/2016</small></h3>
                        <img class="thumbnail" src="https://placehold.it/850x350">
                        <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
                        <div class="callout">
                            <ul class="menu simple">
                                <li><a href="#">Author: Mike Mikers</a></li>
                                <li><a href="#">Comments: 3</a></li>
                            </ul>
                        </div>
                    </div>
                    {% endblock %}
                </div>
            </div>
        </article>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.3/motion-ui.min.js"></script>
        <script>
            $(document).foundation();
        </script>
        {% block extra_js %}{% endblock %}
    </body>
</html>
