{% extends 'base.html' %}
{% load formatting %}

{% block title %}
{% if transaction %}
Create a new Pay Period from Transaction - {{ transaction.date_posted|date:"F j, Y" }} {{ transaction.amount|format_money }}
{% else %}
Create a new expense
{% endif %}
{% endblock %}

{% block extra_css %}
{{ form.media.css }}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="grid-x grid-margin-x">
      <div class="cell">
        <h1>
          {% if transaction %}
            New Pay Period <small>{{ transaction.date_posted|date:"F j, Y" }} {{ transaction.amount|format_money }}</small>
          {% else %}
            Create a new Pay Period
          {% endif %}
        </h1>
      </div>
      {% if transaction %}
      <div class="cell">
        <table>
          <tbody>
            <tr>
              <td><strong>Date posted</strong></td>
              <td>{{ transaction.date_posted|date:"F j, Y" }}
            </tr>
            <tr>
              <td><strong>Amount</strong></td>
              <td>{{ transaction.amount|format_money }}</td>
            </tr>
            <tr>
              <td><strong>Description</strong></td>
              <td>{{ transaction.memo }}</td>
            </tr>
            <tr>
              <td><strong>Account</strong></td>
              <td>{{ transaction.account.bank.name }} - {{ transaction.account.account_number }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      {% endif %}
      <div class="cell">
        <form method="POST">
          <div class="grid-container">
            <div class="grid-x grid-padding-x">
                {% csrf_token %}
                {% if not transaction %}
                  <div class="cell small-1">
                    {{ form.budgeted.label_tag }}
                  </div>
                  <div class="cell small-5">
                    {{ form.budgeted }}
                    {{ form.budgeted.errors }}
                  </div>
                  <div class="cell small-1">
                    {{ form.budgeted_date.label_tag }}
                  </div>
                  <div class="cell small-5">
                    {{ form.budgeted_date }}
                    {{ form.budgeted_date.errors }}
                  </div>
                  <div class="cell small-1">
                    {{ form.transaction.label_tag }}
                  </div>
                  <div class="cell small-11">
                    {{ form.transaction }}
                    {{ form.transaction.errors }}
                  </div>
                  <div class="cell small-1">
                    {{ form.recurrences.label_tag }}
                  </div>
                  <div class="cell small-11">
                    {{ form.recurrences }}
                    {{ form.recurrences.errors }}
                  </div>
                {% else %}
                {{ form.budgeted.as_hidden }}
                {{ form.budgeted_date.as_hidden }}
                {{ form.transaction.as_hidden }}
                {% endif %}
                <div class="cell">
                  <input type="submit" class="button" value="Save?" />
                </div>
            </div>
          </div>
        </form>
      </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script type="text/javascript" src="/admin/jsi18n/">
    <script type="text/javascript" src="/static/admin/js/core.js">
    {{ form.media.js }}
    <script type="text/javascript">
        django.jQuery(document).ready(function() {
            django.jQuery('#id_transaction').select2({
                ajax: {
                    url: '{% url "paycheck-autocomplete" %}',
                    dataType: 'json'
                },
                multiple: true
            })
        })
    </script>
{% endblock %}
