{% extends 'base.html' %}
{% load formatting %}

{% block title %}Income of {{ income.budgeted_date|date:"F j, Y" }}{% endblock %}

{% block content %}
    <h1>
        Pay period start date: {{ income.budgeted_date|date:"F j, Y" }}<br />
        <span class="label warning">Income: <strong>{{ income.budgeted|format_money }}</strong></span>
        <span class="label warning">Carry over: <strong>{{ income.carry_over|format_money }}</strong></span>
        <span class="label warning">Total expenses: <strong>{{ income.total_expenses|format_money }}</strong></span>
    </h1>

    <table>
        <thead>
            <tr>
                <th>Description</th>
                <th>Amount</th>
                <th>Recurrence</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for expense in income.expense_set.all %}
                <tr>
                    <td>
                        {{ expense.description }}
                    </td>
                    <td>
                        {{ expense.budgeted_amount|format_money }}
                        {% if expense.transaction %}
                            <br />
                            Actual: {{ expense.transaction.amount|format_money }}
                        {% endif %}
                    </td>
                    <td>
                        {% if expense.top_expense %}
                            {% for rule in expense.top_expense.recurrences.rrules %}
                                {{ rule.to_text }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                            <br />
                            Starting: {{ expense.top_expense.budgeted_date|date:"F j, Y" }}
                        {% elif expense.recurrences %}
                            {% for rule in expense.recurrences.rrules %}
                                {{ rule.to_text }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                            <br />
                            Starting: {{ expense.budgeted_date|date:"F j, Y" }}
                        {% else %}
                            {{ expense.budgeted_date|date:"F j, Y" }}
                        {% endif %}
                    </td>
                    <td>
                        <a class="success button" href="{% url 'update-expense' expense.id %}">
                            <i class="fi-edit"> </i> Edit
                        </a>
                    </td>
                </tr>
            {% endfor%}
        </tbody>
    </table>
    <div class="cell">
        <a class="button" href="{% url 'create-expense' %}?income_date={{ payperiod }}">
            Add new expense
        </a>
    </div>
{% endblock %}
