{% extends 'base.html' %}
{% load formatting %}

{% block title %}payperiod of {{ payperiod.start_date|date:"F j, Y" }}{% endblock %}

{% block content %}
    <h1>
        Pay period start date: {{ payperiod.start_date|date:"F j, Y" }}<br />
        <span class="label warning">Income: <strong>{{ payperiod.income|format_money }}</strong></span>
        <span class="label warning">Carry over: <strong>{{ payperiod.carry_over|format_money }}</strong></span>
        <span class="label warning">Total expenses: <strong>{{ payperiod.total_expenses|format_money }}</strong></span>
    </h1>

    <table>
        <thead>
            <tr>
                <th>Description</th>
                <th>Amount</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for expense in payperiod.expense_set.all %}
                <tr>
                    <td>
                        {{ expense.description }}
                    </td>
                    <td>
                        {{ expense.budgeted_amount|format_money }}
                        {% if expense.transaction %}
                            <br />
                            Actual: {{ expense.transaction.amount|format_money }}
                        {% endif %}
                    </td>
                    <td>
                        <a class="success button" href="{% url 'update-expense' expense.id %}">
                            <i class="fi-edit"> </i> Edit
                        </a>
                    </td>
                </tr>
            {% endfor%}
            <tr>
                <form method="POST" action="{% url 'create-expense' %}">
                    {% csrf_token %}
                    <input type="hidden" name="payperiod" value="{{ object.id }}">
                    <td>
                        <input type="text" name="description" placeholder="Description ..." />
                    </td>
                    <td>
                        <input type="text" name="budgeted_amount" placeholder="Budgeted amount ..." />
                    </td>
                    <td>
                        <button type="submit" class="success button"> <i class="fi-plus"> </i> Add</button>
                    </td>
                </form>
            </tr>
        </tbody>
    </table>
{% endblock %}
