{% extends 'base.html' %}
{% load formatting %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Start date</th>
                <th>Income</th>
                <th>Carry over</th>
                <th>Expenses</th>
            </tr>
        </thead>
        <tbody>
            {% for week in weeks %}
                <tr>
                    <td>
                        <a href="{% url 'week-detail' week.slug %}">{{ week.start_date|date:"F j, Y" }}</a>
                    </td>
                    <td>
                        {{ week.income|format_money }}
                    </td>
                    <td>
                        {{ week.carry_over|format_money }}
                    </td>
                    <td>
                        {{ week.total_expenses|format_money }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
