{% extends 'base.html' %}
{% load formatting %}

{% block title %}
Update income source {{ object.start_date|date:"F j, Y" }} {{ object.income|format_money }}
{% endblock %}
{% block extra_css %}
    {{ form.media.css }}
{% endblock %}

{% block content %}
    <div class="grid-x grid-margin-x">
      <div class="cell">
        <h1>
            Update income source
        </h1>
      </div>
      <div class="cell">
        <form method="POST">
          <div class="grid-container">
            <div class="grid-x grid-padding-x">
                {% csrf_token %}
                {{ form.first_occurrence.as_hidden }}
                <div class="cell small-1">
                  {{ form.budgeted.label_tag }}
                </div>
                <div class="cell small-5">
                  {{ form.budgeted }}
                  {{ form.budgeted.errors }}
                </div>
                <div class="cell small-1">
                  {{ form.budgeted_date.label_tag }}
                </div>
                <div class="cell small-5">
                  {{ form.budgeted_date }}
                  {{ form.budgeted_date.errors }}
                </div>
                <div class="cell small-1">
                  {{ form.transaction.label_tag }}
                </div>
                <div class="cell small-11">
                  {{ form.transaction }}
                  {{ form.transaction.errors }}
                </div>
                <div class="cell small-1">
                    {{ form.recurrences.label_tag }}
                </div>
                <div class="cell small-11">
                    {{ form.recurrences }}
                    {{ form.recurrences.errors }}
                </div>
                {% if object.first_occurrence.recurrences.count > 1 %}
                    <fieldset class="cell small-11 small-offset-1">
                        <legend>Update all occurrences after this one?</legend>
                        <input type="radio" id="id_yes" name="update_all" value="Yes" checked><label for="id_yes">Yes</label>
                        <input type="radio" id="id_no" name="update_all" value="No"><label for="id_no">No. Only update this occurrence</label>
                    </fieldset>
                {% endif %}
                <div class="cell">
                  <input type="submit" class="button" value="Save?" />
                </div>
            </div>
          </div>
        </form>
      </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript" src="/admin/jsi18n/">
    <script type="text/javascript" src="/static/admin/js/core.js">
    {{ form.media.js }}
{% endblock %}
