{% extends 'base.html' %}
{% load formatting %}

{% block title %}
Update income source {{ object.start_date|date:"F j, Y" }} {{ object.income|format_money }}
{% endblock %}

{% block content %}
    <div class="grid-x grid-margin-x">
      <div class="cell">
        <h1>
          Update income source {{ object.start_date|date:"F j, Y" }} {{ object.income|format_money }}
        </h1>
      </div>
      <div class="cell">
        <form method="POST">
          <div class="grid-container">
            <div class="grid-x grid-padding-x">
                {% csrf_token %}
                <div class="cell small-1">
                  {{ form.budgeted.label_tag }}
                </div>
                <div class="cell small-5">
                  {{ form.budgeted }}
                </div>
                <div class="cell small-1">
                  {{ form.budgeted_date.label_tag }}
                </div>
                <div class="cell small-5">
                  {{ form.budgeted_date }}
                </div>
                <div class="cell small-1">
                  {{ form.transaction.label_tag }}
                </div>
                <div class="cell small-11">
                  {{ form.transaction }}
                </div>
                <div class="cell">
                  <input type="submit" class="button" value="Save?" />
                </div>
            </div>
          </div>
        </form>
      </div>
    </div>
{% endblock %}
