{% extends 'base.html' %}
{% load formatting %}

{% block title %}
Update expense
{% endblock %}
{% block extra_css %}
    {{ form.media.css }}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="grid-x grid-margin-x">
      <div class="cell">
        <h1>
            Update expense
        </h1>
      </div>
      <div class="cell">
        <form method="POST" action="{% url 'update-expense' object.id %}">
          <div class="grid-container">
            <div class="grid-x grid-padding-x">
                {% csrf_token %}
                <div class="cell small-1">
                  <label for="id_income" class="text-right">Pay Period:</label>
                </div>
                <div class="cell small-5">
                  {{ form.income }}
                  {{ form.income.errors }}
                </div>
                <div class="cell small-1">
                  <label for="id_budgeted_amount" class="text-right">Budgeted amount:</label>
                </div>
                <div class="cell small-5">
                  {{ form.budgeted_amount }}
                  {{ form.budgeted_amount.errors }}
                </div>
                <div class="cell small-1">
                  <label for="id_transactions" class="text-right middle">Transactions:</label>
                </div>
                <div class="cell small-11">
                    <select id="id_transactions" name="transactions" multiple>
                        {% for transaction in object.transaction_set.all %}
                            <option value="{{ transaction.transaction_id }}" selected>{{ transaction }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="cell small-1">
                  <label for="id_description" class="text-right middle">Description:</label>
                </div>
                <div class="cell small-11">
                  {{ form.description }}
                  {{ form.description.errors }}
                </div>
                <div class="cell small-1">
                    {{ form.recurrences.label_tag }}
                </div>
                <div class="cell small-11">
                    {{ form.recurrences }}
                    {{ form.recurrences.errors }}
                </div>
                <div class="cell">
                  <input type="submit" class="button" value="Save?" />
                </div>
            </div>
          </div>
        </form>
      </div>
    </div>
{% endblock %}
{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script type="text/javascript" src="/admin/jsi18n/">
    <script type="text/javascript" src="/static/admin/js/core.js">
    {{ form.media.js }}
    <script type="text/javascript">
        django.jQuery(document).ready(function() {
            django.jQuery('#id_income').select2({
                ajax: {
                    url: '{% url "paycheck-autocomplete" %}',
                    dataType: 'json'
                }
            })
            django.jQuery('#id_transactions').select2({
                ajax: {
                    url: '{% url "transaction-autocomplete" %}?income_date={{ form.initial.income }}',
                    dataType: 'json'
                }
            })
        })
    </script>
{% endblock %}
